.Container{
    display: grid;
    grid-template-columns: auto 0px auto;
    height: 100vh;
}

#sessionContainer {
    background-color: antiquewhite;
    position: relative;
}

#breakContainer {
    background-color: antiquewhite;
    position: relative;
}

#stopBtn {
    position: absolute;
    z-index: 6;
    bottom: 20%;
    right: calc(50% - 2em);
    min-width: 4em;
    min-height: 2em;
    font-size: 25px;
    font-family: fantasy;
    padding: 0;
}

#startBtn {
    position: absolute;
    z-index: 6;
    bottom: calc(20% - 2.5em);
    right: calc(50% - 4em);
    min-width: 8em;
    min-height: 2em;
    font-size: 25px;
    font-family: fantasy;
    padding: 0;
}

.testing{
    position: absolute;
    left: calc(50% - 15em);
    top: calc(50% - 5em);
    /* border: 1px solid black; */
    width: 30em;
    display: grid;
    grid-template-rows: 7.5em 40px;
    grid-template-areas:
        "i1 i2 i3"
        "i4 i4 i4";
}

.editBtn {
    /* background-color: navajowhite; */
    user-select: none;
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 3px 6px;
    font-size: smaller;
    font-weight: 400;
    border-radius: 4px;
}

.saveBtn {
    grid-area: i4;
    font-family: fantasy;
}

.minutes {
    grid-area: i1;
    color: black;
    background: transparent;
    border: transparent;
    font-size: 100px;
    font-family: fantasy;
    resize: none;
    text-align: center;
    overflow: hidden;
    outline: none;
}
.separador {
    grid-area: i2;
    color: black;
    display: inline-block;
    font-size: 70px;
    text-align: center;
}

.seconds {
    grid-area: i3;
    color: black;
    background: transparent;
    border: transparent;
    font-size: 100px;
    font-family: fantasy;
    resize: none;
    text-align: center;
    overflow: hidden;
    outline: none;
}

textarea, div, button{
    user-select: none;
}

textarea:disabled, button:disabled {
    pointer-events: none;
}
